node_modules/
dist/
.yarn/
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
.pnp.*
yarn-error.log
*.tsbuildinfo
storybook-static/
android/.gradle/
android/library/build/
android/.idea/
android/.kotlin/
*.iml
